@using Xolartek.Web.Models

@{
    Layout = "~/Views/Shared/_Layout2013.cshtml";
    ViewBag.Title = "Fortnite";
}
@section header {

}
<div class="container">
    <div class="row">
        <div class="col-12"><h4>Kendo-UI</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlMessage"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<HeroVM>().Name("Heroes")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Name).Title("Name").Width(80);
                        columns.Bound(p => p.Rarity).Title("Rarity").Width(80);
                        columns.Bound(p => p.Level).Title("Level").Width(80);
                        columns.Bound(p => p.Stars).ClientTemplate("#=StarLabel(data.Stars)#").Width(80);
                    })
                    .HtmlAttributes(new { style = "height: 400px;" })
                    .Sortable()
                    .Scrollable(s => s.Height("auto"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model => model.Id(a => a.Id))
                        .Read(read => read.Action("LoadHeroesList", "Fortnite", Model))
                    )
            )
        </div>
    </div>
</div>
@section scripts {
<script>
    function StarLabel(data) {
        var result = '';
        for(var i=0;i<data;i++) {
            result += "<span class='k-icon k-i-star k-i-bookmark'></span>";
        }
        return result;
    }
</script>
}
